.ProseMirror-focused {
	outline: none;
	border: none;
	overflow: visible;
}
.tiptap.ProseMirror {
	height: 384px;
	overflow: visible;
  position: relative;
}
.grammar-error {
  position: relative;
  background-color: rgba(255, 0, 0, 0.1);
  border-bottom: 1px dotted red;
  cursor: help;
	overflow: visible;
}

.grammar-error:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  background: #333;
  color: #fff;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 4px;
  white-space: normal;
  max-width: 300px;
  width: max-content;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
